# Ignore Helm-related files
.helmignore
Chart.lock

# Ignore version control
.git/
.gitignore

# Ignore CI/CD files
.github/
.gitlab-ci.yml
.travis.yml

# Ignore build artifacts
*.tgz
*.tar.gz
*.zip
*.log
*.swp

# Ignore editor-specific files
*.DS_Store
*.idea/
*.vscode/
*.project
*.classpath
*.settings/
*.tmp

# Ignore temporary or cache files
node_modules/
dist/
coverage/
